@model IEnumerable<AirlineWebApp.Models.AirlineViewModel>

<h1>AirLines</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Create New Airline</a>
</p>
<table class="table">
@*<caption> </caption>*@
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FromCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ToCity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fare)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FromCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ToCity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fare)
            </td>
            <td>
                <a asp-action="Edit" class="btn btn-primary" asp-route-id="@item.Id">Edit</a> |
                
                <button id="Delete" class="btn btn-danger" value="@item.Id">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>